CKB_PASSPORT_NETWORK=ckb-testnet
CKB_RPC_URL=https://testnet.ckb.dev/rpc
CKB_INDEXER_URL=https://testnet.ckb.dev/indexer
CKB_DID_CODE_HASH=
CKB_DID_HASH_TYPE=
SIWD_EXPECTED_ORIGIN=http://localhost:3000

